name: Update Documentations Workflows
on: 
  push:
    branches: 
           - main
permissions:
  contents: write
  pull-requests: write

jobs:
  extract_version:
    runs-on: ubuntu-latest
    outputs:
      version_name: ${{ steps.extract_version.outputs.version_name }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Extract version
      id: extract_version
      run: |
        VERSION=$(git log -1 --pretty=%B | grep -oP -m1 'Release:\s*\K[0-9]+\.[0-9]+\.[0-9]+' || echo "unknown")
        echo "Extracted version: $VERSION"
        echo "version_name=$(echo $VERSION | tr -d '\r\n')" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: extract_version
    if: ${{ needs.extract_version.outputs.version_name != 'unknown' }}
    steps:
    - uses: actions/checkout@v4

    - name: Create Github Release
      uses: softprops/action-gh-release@v2.2.1
      with:
        tag_name: ${{ needs.extract_version.outputs.version_name }}
        name: "Release: ${{ needs.extract_version.outputs.version_name }}"
        generate_release_notes: true

    - name: Extract Version Information
      run: |
          TARGET_SDK=$(grep -oP 'targetSdk\s*=\s*\K\d+' app/build.gradle.kts)
          KOTLIN_VERSION=$(grep -oP 'kotlin\s*=\s*"\K[0-9]+\.[0-9]+\.[0-9]+' gradle/libs.versions.toml)
          AGP_VERSION=$(grep -oP 'agp\s*=\s*"\K[0-9]+\.[0-9]+\.[0-9]+' gradle/libs.versions.toml)

          echo "Extracted targetSdk: $TARGET_SDK"
          echo "Extracted Kotlin version: $KOTLIN_VERSION"
          echo "Extracted AGP version: $AGP_VERSION"
          echo "TARGET_SDK=$TARGET_SDK" >> $GITHUB_ENV
          echo "KOTLIN_VERSION=$KOTLIN_VERSION" >> $GITHUB_ENV
          echo "AGP_VERSION=$AGP_VERSION" >> $GITHUB_ENV

    - name: Update README.md
      run: |
          sed -i "s/PlayStore-v[0-9]\+\.[0-9]\+\.[0-9]\+/PlayStore-v${{ needs.extract_version.outputs.version_name }}/" README.md
          sed -i "s/targetSdkVersion-[0-9]\+/targetSdkVersion-$TARGET_SDK/" README.md
          sed -i "s/Kotlin-[0-9]\+\.[0-9]\+\.[0-9]\+/Kotlin-$KOTLIN_VERSION/" README.md
          sed -i "s/AGP-[0-9]\+\.[0-9]\+\.[0-9]\+/AGP-$AGP_VERSION/" README.md

    - name: Create Pull Request
      id: create-pr
      uses: peter-evans/create-pull-request@v7
      with:
        commit-message: "docs: update README.md [skip ci]"
        branch: auto-update/readme-${{ needs.extract_version.outputs.version_name }}
        title: "docs: update README for v${{ needs.extract_version.outputs.version_name }}"
        body: "Automated README badge updates for Release ${{ needs.extract_version.outputs.version_name }}"
        add-paths: README.md

    - name: Auto Merge Pull Request
      if: ${{ steps.create-pr.outputs.pull-request-number }}
      run: gh pr merge ${{ steps.create-pr.outputs.pull-request-number }} --squash --delete-branch --subject "docs: update README.md [skip ci]"
      env:
        GH_TOKEN: ${{ github.token }}